<div class="container">
<h1>My Quotes</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <div class="all-cards">
  <div *ngFor='let quote of quotes;let i = index' class="card" style="width: 24rem;">
    <div class="card-body">
    <h4 id={{i}} appHighlight>{{quote.quotation}}</h4>
    <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
  </div> 

    <div *ngIf='quote.showAuthor'>
      <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote' (toDelete) = 'deleteQuote($event,i)'></app-quote-detail>
      <span class="card-subtitle mb-2">Posted by: <span id="name">{{quote.author}}</span><span id="date">on: <span id="datecolor">{{quote.datePosted|date:'short'}}</span></span></span>
      </div>
    </div>
  </div>
    <div class="col-md-6">
        <app-quote-form (addQuote)="($event)"></app-quote-form>
      </div>
    </div>
  </div>
</div>
